<a id="{{ name }}"></a>
<h4 class="section-header">Buttons</h4>
<p>Buttons can be traditional <code>&lt;button&gt;</code> tags or links with the class <em>"button"</em>. Buttons are also styled according to the typography and will be sized and vertically aligned according to their container and surrounding text.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Basic Buttons</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <a href="#" class="button">Anchor Button</a>
            <button>Button</button>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>


<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Disabled Buttons</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <a href="#" class="button disabled">Anchor Button</a>
            <button disabled="disabled">Button</button>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>


<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Buttons with Icons</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <a href="#" class="button"><i class="fa fa-camera"></i> Anchor Button</a>
            <button><i class="fa fa-camera"></i> Button</button>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>


<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Buttons with Badges</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <a href="#" class="button">Anchor Button <span class="dangerous badge">2</span></a>
            <button>Button <span class="engaging circular badge">564</span></button>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>


<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Block Buttons</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <a href="#" class="button block">Block Anchor Button</a>
            <button class="block">Block Button</button>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>


<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Inline Buttons</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <p>
                By default buttons are inline-blocks. You can place them in a paragraph like this <a href="#" class="button">Anchor Button</a>
                or this <button>Button</button> and still keep the vertical rythm.
            </p>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>

<p>Finally some colors! Basecoat has a set of 6 colors that should serve most prototyping purposes, however you are encouraged to create your own color palette. </p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Colored Buttons</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <a href="#" class="primary button">Primary Button</a><br>
            <a href="#" class="secondary button">Secondary Button</a><br>
            <a href="#" class="rewarding button">Rewarding Button</a><br>
            <a href="#" class="dangerous button">Dangerous Button</a><br>
            <a href="#" class="engaging button">Engaging Button</a><br>
            <a href="#" class="warning button">Warning Button</a><br>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>