<a id="{{ name }}"></a>
<!--div class="layout-bar alternate">
    <strong class="layout-bar-primary">Headings</strong>
    <a href="#headings">Description</a>
    <a href="#headings-usage">Usage</a>
    <a href="#headings-variations">Variations</a>
</div-->
<h4 class="section-header">Headings</h4>
<p>Headings are styled and sized in a golden ratio scale.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Basic Headings</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <h1>H1 Heading</h1>
            <h2>H2 Heading</h2>
            <h3>H3 Heading</h3>
            <h4>H4 Heading</h4>
            <h5>H5 Heading</h5>
            <h6>H6 Heading</h6>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>

<p>They can also have nested taglines.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Headings with taglines</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <h3>H3 Heading
                <small>This is the super cool tagline or sub header text</small>
            </h3>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>

<p>Or icons. In this example we are using <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome</a> icons but you can use any icon set you want.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Headings with icons</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <h3>
                <i class="fa fa-camera-retro"></i> 
                H3 Heading
            </h3>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>

<p>Or even both!</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Headings with taglines and icons</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <h3 class="layout-object">
                <i class="fa fa-camera-retro"></i> 
                <div>H3 Heading <small>This is the super cool tagline or sub header text</small></div>
            </h3>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>