<a id="{{ name }}"></a>
<h4 class="section-header">Layout Bars</h4>
<p>Layout bars allow you to position items on different horizontal arrangements while preserving correct line heights and vertical alignments between its elements.</p>

<!--div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Basic Menubar</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <header class="layout-bar">
                <a href="#" class="layout-bar-primary">Brand</a>
                <a href="#">Products</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <span>Logged</span>
            </header>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;header class="layout-bar"&gt;
&lt;a href="#" class="layout-bar-primary"&gt;Brand&lt;/a&gt;
&lt;a href="#"&gt;Products&lt;/a&gt;
&lt;a href="#"&gt;About&lt;/a&gt;
&lt;a href="#"&gt;Contact&lt;/a&gt;
&lt;span&gt;Logged&lt;/span&gt;
&lt;/header&gt;
            </code></pre>
        </div>
    </div>
</div>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Extreme Menubar</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <header class="layout-bar extremes">
                <a href="#" class="layout-bar-primary">Brand</a>
                <a href="#">Products</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
                <span>Logged</span>
            </header>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;header class="layout-bar extremes"&gt;
&lt;a href="#" class="layout-bar-primary"&gt;Brand&lt;/a&gt;
&lt;a href="#"&gt;Products&lt;/a&gt;
&lt;a href="#"&gt;About&lt;/a&gt;
&lt;a href="#"&gt;Contact&lt;/a&gt;
&lt;span&gt;Logged&lt;/span&gt;
&lt;/header&gt;
            </code></pre>
        </div>
    </div>
</div>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Extreme Menubar with Elements</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <div class="layout-bar extremes">
                <a href="#" class="layout-bar-primary"><i class="fa fa-camera"></i> Brand</a>
                <a href="#">Products</a>
                <select>
                    <option>Yes</option>
                    <option>No</option>
                </select>
                <span>Logged</span>
                <a href="#" class="button">Download</a>
            </div>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;div class="layout-bar extremes"&gt;
&lt;a href="#" class="layout-bar-primary"&gt;&lt;i class="fa fa-camera"&gt;&lt;/i&gt;Brand&lt;/a&gt;
&lt;a href="#"&gt;Products&lt;/a&gt;
&lt;select&gt;
&lt;option&gt;Yes&lt;/option&gt;
&lt;option&gt;No&lt;/option&gt;
&lt;/select&gt;
&lt;span&gt;Logged&lt;/span&gt;
&lt;a href="#" class="button"&gt;Download&lt;/a&gt;
&lt;/div&gt;
            </code></pre>
        </div>
    </div>
</div-->

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Menubar with more Elements</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <div class="layout-bar">
                <a href="#" class="layout-bar-primary">Hello</a>
                <a href="#" class="button">Sign up</a>
                <a href="#" class="button desktop-only">About</a>
                <input type="text" placeholder="Age" class="desktop-only">
                <label>
                    Accept:
                    <input type="checkbox">
                </label>
            </div>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>


<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Grouped layout-bar</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            Lorem ipsum <div class="layout-bar grouped">
                <a href="#" class="layout-bar-primary">Hello</a>
                <span>you</span>
                <a href="#" class="button">About</a>
                <input type="text" placeholder="Age" style="width:3em">
                <label class="desktop-only">
                    Accept:
                    <input type="checkbox">
                </label>
                <select>
                    <option>M</option>
                    <option>F</option>
                </select>
            </div>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>