<a id="{{ name }}"></a>
<h4 class="section-header">Lists</h4>
<p>Lorem ipsum dolor sit amet.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Unordered Lists</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <ul>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3
                    <ul>
                        <li>subitem 1</li>
                        <li>subitem 2</li>
                        <li>subitem 3</li>
                    </ul>
                </li>
                <li>item 4</li>
            </ul>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;ul&gt;
&lt;li&gt;item 1&lt;/li&gt;
&lt;li&gt;item 2&lt;/li&gt;
&lt;li&gt;item 3
&lt;ul&gt;
&lt;li&gt;subitem 1&lt;/li&gt;
&lt;li&gt;subitem 2&lt;/li&gt;
&lt;li&gt;subitem 3&lt;/li&gt;
&lt;/ul&gt;
&lt;/li&gt;
&lt;li&gt;item 4&lt;/li&gt;
&lt;/ul&gt;
            </code></pre>
        </div>
    </div>
</div>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Ordered Lists</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <ol>
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3
                    <ol>
                        <li>subitem 1</li>
                        <li>subitem 2</li>
                        <li>subitem 3</li>
                    </ol>
                </li>
                <li>item 4</li>
            </ol>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;ol&gt;
&lt;li&gt;item 1&lt;/li&gt;
&lt;li&gt;item 2&lt;/li&gt;
&lt;li&gt;item 3
&lt;ol&gt;
&lt;li&gt;subitem 1&lt;/li&gt;
&lt;li&gt;subitem 2&lt;/li&gt;
&lt;li&gt;subitem 3&lt;/li&gt;
&lt;/ol&gt;
&lt;/li&gt;
&lt;li&gt;item 4&lt;/li&gt;
&lt;/ol&gt;
            </code></pre>
        </div>
    </div>
</div>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Unstyled Lists</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <ul class="unstyled">
                <li>item 1</li>
                <li>item 2</li>
                <li>item 3
                    <ol class="unstyled">
                        <li>subitem 1</li>
                        <li>subitem 2</li>
                        <li>subitem 3</li>
                    </ol>
                </li>
                <li>item 4</li>
            </ul>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;ul class="unstyled"&gt;
&lt;li&gt;item 1&lt;/li&gt;
&lt;li&gt;item 2&lt;/li&gt;
&lt;li&gt;item 3
&lt;ol class="unstyled"&gt;
&lt;li&gt;subitem 1&lt;/li&gt;
&lt;li&gt;subitem 2&lt;/li&gt;
&lt;li&gt;subitem 3&lt;/li&gt;
&lt;/ol&gt;
&lt;/li&gt;
&lt;li&gt;item 4&lt;/li&gt;
&lt;/ul&gt;
            </code></pre>
        </div>
    </div>
</div>


<div class="definition-{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Definition Lists</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <dl>
                <dt>Coffee</dt>
                <dd>black-hole hot drink</dd>
                <dt>Milk</dt>
                <dd>White cold drink</dd>
            </dl>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;dl&gt;
&lt;dt&gt;Coffee&lt;/dt&gt;
&lt;dd&gt;black-hole hot drink&lt;/dd&gt;
&lt;dt&gt;Milk&lt;/dt&gt;
&lt;dd&gt;White cold drink&lt;/dd&gt;
&lt;/dl&gt;
            </code></pre>
        </div>
    </div>
</div>

<div class="inline-definition-{{ name }}-demo panel">
    <div class="panel-title">
        <h6>Inline Definition Lists</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <dl class="inline">
                <dt>Coffee</dt>
                <dd>black-hole hot drink</dd>
                <dt>Milk</dt>
                <dd>White cold drink</dd>
            </dl>
        </div>
        <div class="source">
            <pre><code class="language-markup">
&lt;dl class="inline"&gt;
&lt;dt&gt;Coffee&lt;/dt&gt;
&lt;dd&gt;black-hole hot drink&lt;/dd&gt;
&lt;dt&gt;Milk&lt;/dt&gt;
&lt;dd&gt;White cold drink&lt;/dd&gt;
&lt;/dl&gt;
            </code></pre>
        </div>
    </div>
</div>