<a id="{{ name }}"></a>
<h4 class="section-header">SelectJS</h4>

<p>Selectjs offers a clean and minimal way to skin <code>&lt;select&gt;</code> elements. It focuses on retaining the most out of the native OS control so that accessibility, tabbed navigation, keyboard controls and device specific options list are consistent. This allows us to have <code>&lt;select&gt;</code> elements that maintain beautiful typography and styles with surrounding elements while ensuring the control works as it should in the most efficient manner.</p>

<div class="{{ name }}-demo panel">
    <div class="panel-title">
        <h6>SelectJS states</h6>
    </div>
    <div class="tablet-two columns panel-content">
        <div class="example">
            <form>
                <div class="mirrored form-field">
                    <label for="{{ name }}-demo-1">
                        Selectjs
                        <span class="help">A default select.</span>
                    </label>
                    <select id="{{ name }}-demo-1" name="my-option-1">
                        <option value="undefined">Choose an option...</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
                <div class="mirrored form-field">
                    <label for="{{ name }}-demo-2">
                        Selectjs Disabled
                        <span class="help">A disabled select.</span>
                    </label>
                    <select id="{{ name }}-demo-2" name="my-option-2" disabled="disabled">
                        <option value="undefined">Choose an option...</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>

                <div class="mirrored form-field">
                    <label for="{{ name }}-demo-3">
                        Leave it alone
                        <span class="help">Use the class &quot;native&quot; to make selectjs ignore it.</span>
                    </label>
                    <select id="{{ name }}-demo-3" name="my-option-3" class="native">
                        <option value="undefined">Choose an option...</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="source">
            <pre><code class="language-markup">

            </code></pre>
        </div>
    </div>
</div>

<p>The plugin is auto initialized on document ready. You can also trigger the plugin manually to skin elements added dynamically via the following command.</p>

<pre><code class="language-javascript">
$('.my-select').select();
</code></pre>
